.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar{
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #d47217;
    color: #d47217;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: transform 0.3s ease;
}

.logo:hover {
    color: orangered;
    text-shadow: 0 0 25px orangered, 0 0 50px orangered;
    transform: scale(1.1);
}

span {
    color: orangered;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 18px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: orangered;
    border-bottom: 3px solid orangered;
}

.btn-default-mobile, .mobile-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .nav-list, .btn-default, .logo, .contact {
        display: none; 
    }

    .btn-default-mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
    }

    .mobile-nav-list .nav-item {
        list-style: none;
        text-align: center;
    }
}
